/***********images**********/

img {
  width: 100%;
  height: auto;
  display: block;
}

.parkbio {
  padding: 40px; /* spacing around the image */
  width: fit-content; /* so the box wraps neatly */
  margin-top: 1rem;
}

.parkbio img {
  border: 2px solid #fcbc32;
  width: 100%;
  height: auto;
  display: block;
}

.biosal {
  padding: 40px; /* spacing around the image */
  width: fit-content; /* so the box wraps neatly */
}

.biosal img {
  border: 2px solid #fcbc32;
  width: 100%;
  height: auto;
  display: block;
}

/************overskrifter*********/

h1 {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  color: white;
  font-size: 18px;
}

.om-os2 {
  background-color: #610f13; /* light background */
  border: 2px solid #fcbc32;
  padding: 20px; /* space inside the box */
  max-width: 400px; /* optional: keeps it from getting too wide */
  margin: 40px auto; /* centers the box on the page */
  margin-top: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.om-os2 h2 {
  background-color: #8e0000; /* light background */
  border: 2px solid #fcbc32;
  padding: 10px; /* space inside the box */
  max-width: 400px; /* optional: keeps it from getting too wide */
  margin: 40px auto; /* centers the box on the page */
  margin-top: 5px;
}

/**************** Desktop ********************/

@media (min-width: 840px) {
  .om-os1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    align-items: center;
  }

  .om-os1 img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    align-items: center;
  }
}
